<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ec815e2-805d-4791-81ff-5a33d1074f3d" Alias="1 1718005" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T15:37:26</CreateDate>
    <NodeName Default="1 1718005" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2qknrhs3/1-1718005.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>