<?xml version="1.0" encoding="utf-8"?>
<Media Key="4586b500-7e70-4efa-88a6-746bb6ae4dcc" Alias="1 1792835" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T15:28:10</CreateDate>
    <NodeName Default="1 1792835" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a00jmrlq/1-1792835.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>