<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b53e511-7d53-4a92-8adb-16b6a4cf31dc" Alias="1 1790324" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T15:29:39</CreateDate>
    <NodeName Default="1 1790324" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c5sfgo0t/1-1790324.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>