<?xml version="1.0" encoding="utf-8"?>
<Media Key="cba77d0b-f419-4dcb-af8f-613a7bb0b82d" Alias="1 1791940" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T15:35:40</CreateDate>
    <NodeName Default="1 1791940" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bv4lpsyz/1-1791940.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>