<?xml version="1.0" encoding="utf-8"?>
<Media Key="56ca1fe5-112d-4d5f-a075-a393a5d2250e" Alias="1123D9d1 Dd7c 4246 A8ea 9E44763935fc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/D9d1Dd7c4246A8ea9E44763935fc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T13:54:21</CreateDate>
    <NodeName Default="1123D9d1 Dd7c 4246 A8ea 9E44763935fc" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2mpnuvrn/1123d9d1-dd7c-4246-a8ea-9e44763935fc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>