<?xml version="1.0" encoding="utf-8"?>
<Media Key="d031ed16-fb84-4ac3-b22e-402fc4764f2e" Alias="7F84a47e 57A8 4978 9Ea8 0E2437b7491d" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F84a47e57A849789Ea80E2437b7491d</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T13:42:20</CreateDate>
    <NodeName Default="7F84a47e 57A8 4978 9Ea8 0E2437b7491d" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdwdduee/7f84a47e-57a8-4978-9ea8-0e2437b7491d.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>