<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9920ebf-a17d-40ef-863d-187f7ceb8dd5" Alias="8282529" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-05T16:17:23</CreateDate>
    <NodeName Default="8282529" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xehjf4l3/8282529.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>