<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7dd01a6-0e3a-4d8a-be02-59c76accf2c1" Alias="C9deb050e68047071fea3f2b0a207a04 Fgraphic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/C9deb050e68047071fea3f2b0a207a04Fgraphic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T15:44:38</CreateDate>
    <NodeName Default="C9deb050e68047071fea3f2b0a207a04 Fgraphic" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uaan1rz0/c9deb050e68047071fea3f2b0a207a04_fgraphic.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>