<?xml version="1.0" encoding="utf-8"?>
<Media Key="00ff9bd1-8056-4388-9d02-acc1edf9273a" Alias="سقوط قتلى باشتباكات جرمانا..  والداخلية السورية تعلق سكاي نيوز عربية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-04-29T15:22:40</CreateDate>
    <NodeName Default="سقوط قتلى باشتباكات جرمانا..  والداخلية السورية تعلق سكاي نيوز عربية" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zgnp4acw/سقوط-قتلى-باشتباكات-جرمانا-والداخلية-السورية-تعلق-_-سكاي-نيوز-عربية.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>