<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06df06e2-fd95-4e3b-b69b-e1c4dea3ce4c" Alias="dynamicPage" Level="1">
  <Info>
    <Name>DynamicPage</Name>
    <Icon>icon-axis-rotation-3 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>DynamicPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a6859cf4-9db2-41cc-bb30-e4fba0a47f8d">DynamicPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>396fdb53-0075-4ab8-8933-fe53de9e10b7</Key>
      <Name>المحتوى الديناميكي</Name>
      <Alias>dynamicContent</Alias>
      <Definition>5458674b-565e-4695-88da-a36eb3d2372b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>caa58108-ac11-4715-b48d-e01d7086628f</Key>
      <Name>المحتوي الشبكي</Name>
      <Alias>gridContent</Alias>
      <Definition>0944fc4c-05d6-4e7e-9ed2-c283791ec011</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6b5c7719-e15d-47d1-989e-5c9abb808f4e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>