<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b89813c1-7dc4-4978-a551-d286c443436e" Alias="mainPage" Level="1">
  <Info>
    <Name>MainPage</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MainPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="654aa5ee-727d-4c91-8686-33f3f4378477">MainPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>