<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6517487c-a2ea-4605-ba5d-6e0c858b6162" Alias="registerPage" Level="1">
  <Info>
    <Name>Register Page</Name>
    <Icon>icon-cash-register color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>RegisterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c99cdbdc-0002-4ddb-85cb-bf05ac4eee7c">RegisterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>