<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35e7ac79-40c7-4f4b-b553-0556f07fa9a9" Alias="AboutUsPage - نص عن الشركة - Rich Text Editor" Level="1">
  <Info>
    <Name>AboutUsPage - نص عن الشركة - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "rtl",
      "ltr"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>