<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c50263bb-153c-43a5-8dac-898d22a438bb" Alias="Member - هل لديك حساب بنكي ؟ - Toggle" Level="1">
  <Info>
    <Name>Member - هل لديك حساب بنكي ؟ - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>