<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fac8ebd-ff0c-4281-b74e-a55f001b7931" Alias="Test Page - TestBlockList - Block List" Level="1">
  <Info>
    <Name>Test Page - TestBlockList - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>