<?xml version="1.0" encoding="utf-8"?>
<DataType Key="574e5ac1-c0db-4902-b2b9-3ebe1d39f8f0" Alias="Text Block - BodyText - Rich Text Editor" Level="1">
  <Info>
    <Name>Text Block - BodyText - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/bootstrap-grid.min.css",
      "/css/bootstrap-grid.rtl.min.css",
      "/css/bootstrap-reboot.min.css",
      "/css/bootstrap-reboot.rtl.min.css",
      "/css/bootstrap-utilities.min.css",
      "/css/bootstrap-utilities.rtl.min.css",
      "/css/bootstrap.min.css",
      "/css/bootstrap.rtl.min.css",
      "/css/styles.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>