<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1d00a95-90e8-4bdf-b32c-b81af53cbca6" Alias="About" Level="2">
  <Info>
    <Parent Key="ec1e849b-4f7a-400e-915f-8708256b1db0">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2025-04-29T13:08:13</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fbb34586-6e98-434b-8838-d598851a1433">AboutUsPage</Template>
  </Info>
  <Properties>
    <aboutImage>
      <Value><![CDATA[[
  {
    "key": "8325440b-f445-43a4-b27f-708841846a8d",
    "mediaKey": "3d94127a-ba16-4b69-bf19-f98bcb150016"
  }
]]]></Value>
    </aboutImage>
    <companyText>
      <Value><![CDATA[{
  "markup": "<p>هذه شركة محمد صالح تأسست عام 2025 وهذا جميل جدا</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </companyText>
  </Properties>
</Content>