<?xml version="1.0" encoding="utf-8"?>
<Content Key="09f11895-4107-4c2a-b649-d73435e02d0d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ec1e849b-4f7a-400e-915f-8708256b1db0">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2025-04-29T13:09:02</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abbce991-2012-47af-8a3c-9d80827fa33b">ContactUsPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[القاهرة ]]></Value>
    </address>
    <contactTitle>
      <Value><![CDATA[القاهرة - مدينة نصر - 15 شارع الملك الصالح]]></Value>
    </contactTitle>
    <Email>
      <Value><![CDATA[mohamedsaleh2711994@gmail.com]]></Value>
    </Email>
    <phone>
      <Value><![CDATA[01122118912]]></Value>
    </phone>
  </Properties>
</Content>