<?xml version="1.0" encoding="utf-8"?>
<Content Key="a241abc0-b013-445f-97b0-43d828ffaed9" Alias="DynamicPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DynamicPage</Path>
    <Trashed>false</Trashed>
    <ContentType>dynamicPage</ContentType>
    <CreateDate>2025-05-07T19:30:59</CreateDate>
    <NodeName Default="DynamicPage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a6859cf4-9db2-41cc-bb30-e4fba0a47f8d">DynamicPage</Template>
  </Info>
  <Properties>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29d97c50ffcf407ca513acd2c3a8c01e"
      },
      {
        "contentUdi": "umb://element/4de2aedcb6554f538786bbcc5dd78548"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2631257f-a757-434b-914a-ff797c9da851",
      "udi": "umb://element/29d97c50ffcf407ca513acd2c3a8c01e",
      "heading": "Block List Header",
      "bodyText": {
        "markup": "<p><strong>ليس لدى كلام يقال فقد قلت فيك كل الكلام يابنى</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "df6098ce-0d4a-480b-b774-ff00681c1f26",
      "udi": "umb://element/4de2aedcb6554f538786bbcc5dd78548",
      "image": [
        {
          "key": "d6d857f7-9361-49be-8346-f1c033dce52d",
          "mediaKey": "3b53e511-7d53-4a92-8adb-16b6a4cf31dc"
        }
      ],
      "caption": "زيزو فى الاهلى"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <gridContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/98ff39b4098147afbc85c029f0e058cb",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/582350d32b984c2a8d11fac469aa1332",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df6098ce-0d4a-480b-b774-ff00681c1f26",
      "udi": "umb://element/98ff39b4098147afbc85c029f0e058cb",
      "image": [
        {
          "key": "edb6bf16-4169-4355-b95d-c5c6d9f12bff",
          "mediaKey": "98b490e5-3e54-4538-bd83-4aa02a678b9d"
        }
      ],
      "caption": "مترو الانفاق"
    },
    {
      "contentTypeKey": "2631257f-a757-434b-914a-ff797c9da851",
      "udi": "umb://element/582350d32b984c2a8d11fac469aa1332",
      "heading": "القاهرة - مدينة نصر - 15 شارع الملك الصالح",
      "bodyText": {
        "markup": "<p style=\"text-align: right;\">بيبيب بللل سيييس قثقث يبيب سسيسي بيبيب بللل سيييس قثقث يبيب سسيس بيبيب بللل سيييس قثقث يبيب سسيسي بيبيب بللل سيييس قثقث يبيب سسيسي&nbsp;</p>\n<p style=\"text-align: right;\">بيبيب بللل سيييس قثقث يبيب سسيسي بيب ثققثق فغغفغ شسشس بللببل عههع يسي يسيس</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </gridContent>
  </Properties>
</Content>