<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec1e849b-4f7a-400e-915f-8708256b1db0" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-04-29T13:06:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4c43cc58-4212-4a2f-950d-7cca5224f005">HomePage</Template>
  </Info>
  <Properties>
    <bannerButtonText>
      <Value><![CDATA[تصفّح أحدث الأخبار]]></Value>
    </bannerButtonText>
    <bannerButtonUrl>
      <Value><![CDATA[[
  {
    "name": "اخر الاخبار",
    "udi": "umb://document/488e834736304a8299e1bddeb21c280e"
  }
]]]></Value>
    </bannerButtonUrl>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "106c386f-c540-47e3-804b-d6e43ff5af54",
    "mediaKey": "f9920ebf-a17d-40ef-863d-187f7ceb8dd5"
  }
]]]></Value>
    </bannerImage>
    <bannerSubtitle>
      <Value><![CDATA[تغطية لحظية لأهم الأخبار المحلية والعالمية على مدار الساعة]]></Value>
    </bannerSubtitle>
    <bannerTitle>
      <Value><![CDATA[أهلاً بك في بوابتك الإخبارية الموثوقة]]></Value>
    </bannerTitle>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "2828847f-07b0-47f2-93d5-31282470d107",
    "mediaKey": "c7dd01a6-0e3a-4d8a-be02-59c76accf2c1"
  }
]]]></Value>
    </heroImage>
    <pageTitle>
      <Value><![CDATA[الصفحة الرئيسية]]></Value>
    </pageTitle>
    <quickLinks>
      <Value><![CDATA[[
  {
    "name": "اخر الاخبار",
    "url": "https://localhost:44334/news/"
  },
  {
    "name": "تواصل معنا",
    "url": "https://localhost:44334/contact/"
  },
  {
    "name": "من نحن",
    "url": "https://localhost:44334/about/"
  }
]]]></Value>
    </quickLinks>
    <welcomeText>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: right;\">مرحبا بك فى موقعنا الالكترونى يمكنك متابعة اخر الاخبار المحلية والعالميه من خلالنا اخر الاخبار العاجله والغير عاجله لحظه بلحظه بمنتهى الثقة والمصداقية لن يفوتك شئ فقط استمر فى تصفح موقعنا لتعرف كل جديد من اخبار العالم ونتمنى لك سهره ممتعه مع هذه المصائب التى تحل على دماغنا وشكرا لك.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </welcomeText>
  </Properties>
</Content>