<?xml version="1.0" encoding="utf-8"?>
<Content Key="488e8347-3630-4a82-99e1-bddeb21c280e" Alias="News" Level="2">
  <Info>
    <Parent Key="ec1e849b-4f7a-400e-915f-8708256b1db0">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsListPage</ContentType>
    <CreateDate>2025-04-29T13:09:25</CreateDate>
    <NodeName Default="News" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de95333a-0a28-4b2e-a009-d175e4bf8660">NewsListPage</Template>
  </Info>
  <Properties>
    <pageSize>
      <Value><![CDATA[3]]></Value>
    </pageSize>
  </Properties>
</Content>