<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b563627-fd26-4290-bad8-f7ee2b4753b2" Alias="News Item2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NewsItem2</Path>
    <Trashed Parent="488e8347-3630-4a82-99e1-bddeb21c280e">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2025-04-29T13:56:29</CreateDate>
    <NodeName Default="News Item2" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e3ce0b7-747e-48f7-9c0b-d0c85c144371">NewsItem</Template>
  </Info>
  <Properties>
    <newsBody>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: right;\">لقد تم اغتصاب الطفل يس عن طريق رجل يحمل من العمل 70 عام داخل حمامات مدرسة فى البحيرة بمساعدة الداده كما تسترت عليه المديره ولم تريد ان&nbsp; يخبر الولد والديه</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </newsBody>
    <newsImage>
      <Value><![CDATA[[
  {
    "key": "e1b8650b-bd83-4fcb-84c7-0031af65dc2f",
    "mediaKey": "56ca1fe5-112d-4d5f-a075-a393a5d2250e"
  }
]]]></Value>
    </newsImage>
    <newsTitle>
      <Value><![CDATA[اغتصاب طفل على يد رجل مسن]]></Value>
    </newsTitle>
    <publishDate>
      <Value><![CDATA[2025-03-05T00:00:00]]></Value>
    </publishDate>
  </Properties>
</Content>