<?xml version="1.0" encoding="utf-8"?>
<Content Key="319cdad8-e65e-4f57-92cd-7fcc51031b74" Alias="News Item9" Level="3">
  <Info>
    <Parent Key="488e8347-3630-4a82-99e1-bddeb21c280e">News</Parent>
    <Path>/Home/News/NewsItem9</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2025-04-29T15:20:16</CreateDate>
    <NodeName Default="News Item9" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e3ce0b7-747e-48f7-9c0b-d0c85c144371">NewsItem</Template>
  </Info>
  <Properties>
    <newsBody>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: right;\" class=\"Article_summary__RYoD9\">في خطوة جديدة لتعزيز الرقابة البحرية، أصدرت المفوضية الأوروبية توجيهًا يُلزم جميع السفن العابرة لمياه الاتحاد الأوروبي، حتى تلك التي لا تعتزم دخول موانئ التكتل، بتقديم تفاصيل التأمين الخاصة بها.</p>\n<p style=\"text-align: right;\">وجاء هذا التحديث ضمن تعديل أجرته المفوضية الأسبوع الماضي على توجيه مراقبة السفن رقم (2022/59/EC)، بحسب ما أوردته خدمة \"ذا إنشورار\" الإخبارية التابعة لوكالة رويترز المتخصصة في أخبار قطاع التأمين.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </newsBody>
    <newsImage>
      <Value><![CDATA[[
  {
    "key": "0602d052-7bf6-4215-a2d2-ddc781135ad8",
    "mediaKey": "9ec815e2-805d-4791-81ff-5a33d1074f3d"
  }
]]]></Value>
    </newsImage>
    <newsTitle>
      <Value><![CDATA[لمواجهة "أساطيل الظل".. خطوة تنظيمية جديدة للاتحاد الأوروبي]]></Value>
    </newsTitle>
    <publishDate>
      <Value><![CDATA[2025-04-29T00:00:00]]></Value>
    </publishDate>
  </Properties>
</Content>