<?xml version="1.0" encoding="utf-8"?>
<Content Key="17522dff-f2ab-4450-a541-6770bbe32f20" Alias="News Item10" Level="3">
  <Info>
    <Parent Key="488e8347-3630-4a82-99e1-bddeb21c280e">News</Parent>
    <Path>/Home/News/NewsItem10</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2025-04-29T15:20:29</CreateDate>
    <NodeName Default="News Item10" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e3ce0b7-747e-48f7-9c0b-d0c85c144371">NewsItem</Template>
  </Info>
  <Properties>
    <newsBody>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: right;\" class=\"Article_summary__RYoD9\">في السنوات الأخيرة، شهد العالم تطور \"أسطول الظل\" كظاهرة غير مسبوقة في القطاع البحري، متجاوزاً حدود التجارة التقليدية نحو عمليات تنطوي على انتهاكات قانونية ومخاطر بيئية واقتصادية.</p>\n<p style=\"text-align: right;\">بدأ هذا الأسطول كنشاط محدود لنقل البضائع بين دول خاضعة للعقوبات، لكنه سرعان ما اتسع حجمه، ليصبح لاعباً مؤثراً في التجارة العالمية، لا سيما النفط، ما أثار قلق الدول الساحلية والمنظمات الدولية على حد سواء.</p>\n<p style=\"text-align: right;\">تزايد حجم هذا الأسطول يعكس تعقيداته المتزايدة؛ إذ لا يقتصر تأثيره على تقويض القواعد البحرية، بل يشكل أيضاً تهديداً حقيقياً للأطقم البحرية والدول التي تقع ضمن مساراته.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </newsBody>
    <newsImage>
      <Value><![CDATA[[
  {
    "key": "8c487706-ab0f-4d15-ba9a-24c74f38b540",
    "mediaKey": "7107ea04-bc22-43df-919b-5b88ab1bcbab"
  }
]]]></Value>
    </newsImage>
    <newsTitle>
      <Value><![CDATA[أسطول الظل.. تهديد متنامٍ للنظام البحري العالمي]]></Value>
    </newsTitle>
    <publishDate>
      <Value><![CDATA[2025-04-08T00:00:00]]></Value>
    </publishDate>
  </Properties>
</Content>