<?xml version="1.0" encoding="utf-8"?>
<Content Key="584cefc4-5dcb-4b37-8e14-80be82663a78" Alias="News Item8" Level="3">
  <Info>
    <Parent Key="488e8347-3630-4a82-99e1-bddeb21c280e">News</Parent>
    <Path>/Home/News/NewsItem8</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2025-04-29T15:19:59</CreateDate>
    <NodeName Default="News Item8" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e3ce0b7-747e-48f7-9c0b-d0c85c144371">NewsItem</Template>
  </Info>
  <Properties>
    <newsBody>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: right;\" class=\"Article_summary__RYoD9\">في خضم التوترات التجارية التي تطبع العلاقة بين واشنطن وبكين، تبرز مؤشرات جديدة توحي بانفراجة محتملة في أفق الحرب الجمركية بين أكبر اقتصادين في العالم، مع دراسة إدارة الرئيس الأميركي دونالد ترامب خفض الرسوم المفروضة على الواردات الصينية، في خطوة تهدف إلى تهدئة الأجواء المشحونة وتخفيف الضغوط على سلاسل الإمداد والأسواق المالية العالمية.</p>\n<p style=\"text-align: right;\">ورغم أن القرار لم يُحسم بعد داخل&nbsp;<a href=\"https://www.snabusiness.com/api/keyword-search?keyword=البيت+الأبيض&amp;contentId=1792054\">البيت الأبيض</a>، إلا أن نبرة التصريحات الرسمية ومواقف الأطراف المعنية، سواء من الجانب الأميركي أو الصيني، تعكس بشكل أو بآخر رغبة في كسر الجمود والانتقال نحو حوار بناء. وبينما يُراقب المستثمرون هذه التطورات بحذر وترقب، يترقب العالم نتائج محتملة قد تعيد رسم خريطة التوازنات الاقتصادية العالمية، وسط تحولات جيوسياسية وتجارية متسارعة.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </newsBody>
    <newsImage>
      <Value><![CDATA[[
  {
    "key": "ab3d1d5e-befa-4535-af83-37935f249d0e",
    "mediaKey": "cba77d0b-f419-4dcb-af8f-613a7bb0b82d"
  }
]]]></Value>
    </newsImage>
    <newsTitle>
      <Value><![CDATA[ترامب يتراجع والأسواق تتنفس.. رسوم ترامب أمام مراجعة جذرية]]></Value>
    </newsTitle>
    <publishDate>
      <Value><![CDATA[2025-04-25T00:00:00]]></Value>
    </publishDate>
  </Properties>
</Content>