<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ac2db1a-bd25-43b3-a51d-30bac61de350" Alias="News Item1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NewsItem1</Path>
    <Trashed Parent="488e8347-3630-4a82-99e1-bddeb21c280e">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2025-04-29T13:43:15</CreateDate>
    <NodeName Default="News Item1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e3ce0b7-747e-48f7-9c0b-d0c85c144371">NewsItem</Template>
  </Info>
  <Properties>
    <newsBody>
      <Value><![CDATA[{
  "markup": "<p>لقد قتل طالب رجل مسن يحمل من العمر 80 عام بسكين مدببه امال مدرسة ثانويه مشتركة فى محافظة القاهرة</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </newsBody>
    <newsImage>
      <Value><![CDATA[[
  {
    "key": "373a2435-4bf2-4e8d-9c1d-976d8da3ae75",
    "mediaKey": "d031ed16-fb84-4ac3-b22e-402fc4764f2e"
  }
]]]></Value>
    </newsImage>
    <newsTitle>
      <Value><![CDATA[مقتل رجل مسن بعمر 80 على يد طالب]]></Value>
    </newsTitle>
    <publishDate>
      <Value><![CDATA[2025-04-01T00:00:00]]></Value>
    </publishDate>
  </Properties>
</Content>