<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4487777-d57c-42a2-bdc0-e627bbf5c73a" Alias="Register" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>registerPage</ContentType>
    <CreateDate>2025-05-02T14:24:21</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c99cdbdc-0002-4ddb-85cb-bf05ac4eee7c">RegisterPage</Template>
  </Info>
  <Properties />
</Content>